<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>
    <p>It's a <%= currentDay %>!</p>
  <h1>Player Name</h1>
  <h2>Position</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet sit architecto sequi placeat dolores reprehenderit nostrum quidem id facere consectetur unde recusandae distinctio</p>

</body>
</html>
